.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker {
  font-family: var(--font-family);
  text-align: center;
  color: var(--text);
  border-radius: 12px;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  font: 400 14px / 120% var(--font-family);
  color: var(--text);
}
.react-datepicker__day {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 32px;
  margin: 0;
}

.react-datepicker__input-container {
  width: 100%;
}
.react-datepicker__input-container input {
  border-radius: 12px;
  padding: 18px;
  background: var(--inputs);
  font: 400 16px / 150% var(--font-family);
  border: none;
  outline: none;
  width: 100%;
}

.react-datepicker__header {
  background-color: var(--white);
  padding: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 12px;
}
h2.react-datepicker__current-month {
  font: 600 16px / 120% var(--font-family);
  text-align: center;
  color: var(--main);
  margin-bottom: 12px;
}
.react-datepicker__day-names {
  text-transform: uppercase;
  font: 600 12px / 120% var(--font-family);
  text-align: center;
  color: var(--text);
  display: flex;
  justify-content: space-between;
}
.react-datepicker__day--selected {
  font: 400 14px / 120% var(--font-family);
  text-align: center;
  color: var(--inputs);
  border-radius: 32px;
  width: 36px;
  height: 32px;
  background: var(--text);
}

.react-datepicker__navigation {
  top: 7px;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: var(--text);
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  top: 6px;
  width: 12px;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 32px;
  background-color: #f0f0f0;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc;
}
