.badge {
  border-radius: 100px;
  padding: 12px 18px;
  background: var(--badges);
  /* mix-blend-mode: multiply; */
  font: 500 16px / 150% var(--font-family);
  text-align: center;
  color: var(--main);
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
