.container {
  background: url("../../assets/images/hero.png") no-repeat;
  background-size: cover;
  height: calc(100vh - 73px);
  width: 100%;
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* set different background image for retina screens */
@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .container {
    background: url("../../assets/images/hero-2x.png") no-repeat;
    background-size: cover;
  }
}

.heading {
  font: 600 48px / 67% var(--font-family);
  color: var(--inputs);
  margin: 0 0 16px 0;
  padding: 0;
}
.subheading {
  font: 600 24px / 133% var(--font-family);
  color: var(--inputs);
  margin: 0 0 40px 0;
  padding: 0;
}
