.card {
  display: flex;
  flex-direction: row;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  max-width: 100%;
  min-width: 0;
}

.image {
  border-radius: 10px;
  width: 292px;
  min-width: 292px;
  height: 320px;
  position: relative;
  overflow: clip;
}
.image > img {
  height: 100%;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 0;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 32px;
}
.heading h2,
p {
  margin: 0;
}
.heading h2 {
  max-width: 60%;
  overflow: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.price {
  font: 600 24px / 133% var(--font-family);
  color: var(--main);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

.subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font: 400 16px / 150% var(--font-family);
  color: var(--main);
}
.subheading span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  font: 400 16px / 150% var(--font-family);
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  border-radius: 200px;
  padding: 16px 60px;
  background: var(--button);
  font: 500 16px / 150% var(--font-family);
  letter-spacing: -0.01em;
  color: var(--white);
}
