.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
  position: relative;

  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
}
.logo {
  position: absolute;
  top: 50%;
  left: 64px;
  transform: translateY(-50%);
}
