.tabs {
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 44px;
}
.tab {
  padding-bottom: 24px;
  font: 600 20px / 120% var(--font-family);
  color: var(--main);
  position: relative;
}
.tab button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.tab.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 5px;
  background-color: var(--button);
}
